body {
  margin: 0;
  font-family: 'Bangers', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./background.jpg');
}

code {
  font-family: 'Bangers', cursive;
}
